@page "/"
@using BusinessLogic
@using UserInterface.Data
@inject SessionLogic SessionLogic
@inject NavigationManager NavigationManager
@inject DB BaseDeDatos

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<p>@mensaje</p>

@code {
    private string mensaje = "No hay usuario en sesión";
    private bool yaRenderice = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!yaRenderice)
        {
            yaRenderice = true;

            var isUserActive = await SessionLogic.isUserActive();
            if (!isUserActive)
            {
                NavigationManager.NavigateTo("/Login");
            }
            else
            {
                var user = await SessionLogic.GetCurrentUser();
                Console.WriteLine(user.Email);
                mensaje = $"Sesión activa: {user.Email}";
                StateHasChanged();
            }
        }
    }
}
