@page "/proyectos/crear/"

<PageTitle>Crear Proyecto</PageTitle>

@using Controllers
@using DTOs
@using UserInterface.Data
@inject ProyectoController Proyectos
@inject UsuarioController Usuarios
@inject NavigationManager NavigationManager
@inject SessionLogic SessionLogic

<h1>Crear Proyecto</h1>

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">@mensajeError</div>
}

<form onsubmit="return false">
    <div class="form-group">
        <label for="nombre">Nombre del Proyecto</label>
        <input type="text" class="form-control" id="nombre" @bind="nombre">
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="descripcion" @bind="descripcion">
    </div>
    
    <div class="form-group">
        <label for="fecha">Fecha de Inicio</label>
        <input type="date" class="form-control" id="fecha" @bind="fecha" />
    </div> 
    
    <div class="form-group">
        <label for="admin">Usuario admin del proyecto (correo)</label>
        <input type="text" class="form-control" id="admin" @bind="correoAdmin" />
    </div>

    <div class="form-group">
        <label for="admin">Usuario lider del proyecto (correo)</label>
        <input type="text" class="form-control" id="admin" @bind="correoLider" />
    </div>

    <input type="submit" class="btn btn-primary" value="Agregar" @onclick="CrearProyecto">
</form>

@code {
    private string nombre;
    private string descripcion;
    private DateTime fecha;
    private string correoAdmin;
    private string correoLider;
    private string mensajeError;
    private bool yaVerifiqueSesion = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!yaVerifiqueSesion)
        {
            yaVerifiqueSesion = true;
            var activo = await SessionLogic.IsUserActive();
            if (!activo)
            {
                NavigationManager.NavigateTo("/Login");
            }
            
            fecha = DateTime.Today;
            StateHasChanged();
        }
    }

    private void CrearProyecto()
    {
        mensajeError = "";

        try
        {
            ProyectoDTO proyectoNuevo = new ProyectoDTO { Nombre = nombre, Descripcion = descripcion, FechaInicio = fecha};
            UsuarioDTO usuarioAdmin = Usuarios.GetByEmail(correoAdmin);
            UsuarioDTO usuarioLider = Usuarios.GetByEmail(correoLider);
            
            ProyectoDTO nuevo = Proyectos.AgregarProyecto(proyectoNuevo);
            Proyectos.AsignarAdminProyecto(usuarioAdmin.Id, nuevo.Id);
            Proyectos.AsignarLiderProyecto(usuarioLider.Id, nuevo.Id);
            NavigationManager.NavigateTo("/proyectos");
        }
        catch (Exception ex)
        {
            mensajeError = ex.Message;
        }
    }
}
