@page "/proyectos/{id:int}/editar/"

<PageTitle>Editar Proyecto</PageTitle>

@using DTOs
@using Controllers
@using UserInterface.Data
@inject UsuarioController Usuarios
@inject ProyectoController Proyectos
@inject NavigationManager NavigationManager
@inject SessionLogic SessionLogic

<h1>Editar Proyecto: @nombre</h1>

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">@mensajeError</div>
}

<form onsubmit="return false">
    <div class="form-group">
        <label for="desc">Descripción</label>
        <input type="text" class="form-control" id="desc" @bind="descripcionNueva">
    </div>

    <div class="form-group">
        <label for="fecha">Fecha De Inicio</label>
        <input type="date" class="form-control" id="fecha" @bind="fechaNueva">
    </div>

    <div class="form-group">
        <label for="admin">Administrador (correo)</label>
        <input type="email" class="form-control" id="admin" @bind="correoAdminNuevo">
    </div>

    <div class="form-group">
        <label for="admin">Lider (correo)</label>
        <input type="email" class="form-control" id="admin" @bind="correoLiderNuevo">
    </div>

    <input type="submit" class="btn btn-primary" value="Guardar cambios" @onclick="GuardarCambios">
</form>

@code {
    [Parameter]
    public int id { get; set; }

    private string nombre;
    private string descripcionNueva;
    private DateTime fechaNueva;
    private string correoAdminNuevo;
    private string correoLiderNuevo;
    private UsuarioDTO adminNuevo;
    private UsuarioDTO liderNuevo;
    private string mensajeError;

    private ProyectoDTO proyectoACambiar;

    private bool yaVerifiqueSesion = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!yaVerifiqueSesion)
        {
            yaVerifiqueSesion = true;

            var activo = await SessionLogic.IsUserActive();
            if (!activo)
            {
                NavigationManager.NavigateTo("/Login");
                return;
            }

            try
            {
                proyectoACambiar = Proyectos.BuscarProyectoPorId(id);
                if (proyectoACambiar == null)
                {
                    mensajeError = "Proyecto no encontrado.";
                    return;
                }

                adminNuevo = Proyectos.GetAdminDeProyecto(id);
                liderNuevo = Proyectos.GetLiderDeProyecto(id);
                nombre = proyectoACambiar.Nombre;
                descripcionNueva = proyectoACambiar.Descripcion;
                fechaNueva = proyectoACambiar.FechaInicio;
                correoAdminNuevo = adminNuevo.Email;
                correoLiderNuevo = liderNuevo.Email;
            }
            catch (Exception ex)
            {
                mensajeError = ex.Message;
            }

            StateHasChanged();
        }
    }

    private void GuardarCambios()
    {
        try
        {
            UsuarioDTO administradorAAsignar = Usuarios.GetByEmail(correoAdminNuevo);
            if (adminNuevo.Email != correoAdminNuevo && administradorAAsignar != null)
            {;
                Proyectos.AsignarAdminProyecto(administradorAAsignar.Id, id);
            }
            
            UsuarioDTO liderAAsignar = Usuarios.GetByEmail(correoLiderNuevo);
            if (liderNuevo.Email != correoLiderNuevo && liderAAsignar != null)
            {;
                Proyectos.AsignarLiderProyecto(liderAAsignar.Id, id);
            }
            
            ProyectoDTO cambiosProyecto = new ProyectoDTO { Id = id, Nombre = nombre, Descripcion = descripcionNueva, FechaInicio = fechaNueva };
            Proyectos.ModificarProyecto(cambiosProyecto);
            NavigationManager.NavigateTo("/proyectos");
        }
        catch (Exception ex)
        {
            mensajeError = ex.Message;
        }
    }
}