@page "/proyectos"
@using BusinessLogic
@using UserInterface.Data
@inject SessionLogic SessionLogic
@inject NavigationManager NavigationManager
@inject DB BaseDeDatos

<h1>
    Proyectos
    <a class="btn btn-success btn-sm" style="float: right; margin-right: 40px;" href="/proyectos/crear">Crear +</a>
</h1>

<table class="table">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Fecha de Inicio</th>
        <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var proyecto in listaDeProyectos)
    {
        <tr>
            <td>@proyecto.Nombre</td>
            <td>@proyecto.Descripcion</td>
            <td>@proyecto.FechaInicio.ToShortDateString()</td>
            <td>
                <a class="btn btn-success btn-sm">Ver Tareas</a>
                <a class="btn btn-success btn-sm">Agregar Tarea</a>
                <a class="btn btn-success btn-sm">Ver Miembros</a>
                <a class="btn btn-success btn-sm">Ruta Critica</a>
                <a class="btn btn-success btn-sm" href="proyectos/@proyecto.Id/editar/">Editar</a>


            </td>
        </tr>
    }
    </tbody>
</table>

@code {
    private List<Proyecto>? listaDeProyectos = new List<Proyecto>();
    private bool yaVerifiqueSesion = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !yaVerifiqueSesion)
        {
            yaVerifiqueSesion = true;

            var isUserActive = await SessionLogic.isUserActive();
            if (!isUserActive)
            {
                NavigationManager.NavigateTo("/Login");
            }
            else
            {
                listaDeProyectos = BaseDeDatos.ListaProyectos;
                StateHasChanged(); 
            }
        }
    }
}
