@page "/recursos/crear/"

<PageTitle>Crear Recurso</PageTitle>

@using BusinessLogic
@inject DB DataBase
@inject NavigationManager NavigationManager

<h1>Crear Recurso</h1>

@if (!string.IsNullOrEmpty(mensajeError))
{
    <div class="alert alert-danger">@mensajeError</div>
}

<form onsubmit="return false">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="email" @bind="nombre">
    </div>

    <div class="form-group">
        <label for="tipo">Tipo</label>
        <input type="text" class="form-control" id="nombre" @bind="tipo">
    </div>

    <div class="form-group">
        <label for="descripcion">Descripción</label>
        <input type="text" class="form-control" id="apellido" @bind="descripcion">
    </div>

    <div class="form-group">
        <label for="cantidadRecurso">Cantidad del recurso</label>
        <input type="number" class="form-control" id="contraseña" @bind="cantidad">
    </div>

    <div class="form-group">
        <label for="cantidadRecurso">Se puede compartir</label>
        <input type="checkbox" class="form-control" id="compartir" @bind="compartir">
    </div>


    <input type="submit" class="btn btn-primary" value="Guardar cambios" @onclick="Crear_Recurso">
</form>

@code {
    [Parameter]
    public int id { get; set; }

    private string nombre;
    private string tipo;
    private string descripcion;
    private int cantidad;
    private bool compartir;
    private string mensajeError;

    Recurso recursoACambiar;

    private void Crear_Recurso()
    {
        mensajeError = "";

        try
        {
            Recurso recursoNuevo = new Recurso(
                nombre, tipo, descripcion, compartir, cantidad
            );

            DataBase.agregarRecurso(recursoNuevo);
            NavigationManager.NavigateTo("/recursos");
        }
        catch (Exception ex)
        {
            mensajeError = ex.Message;
        }
    }

}